{{!-- hero section --}}
<div id="carouselCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="/img/hero-img/pexels-julius-silver-753626.jpg" class="d-block w-100 carousel-pic" alt="first image">
            <div class="carousel-caption d-none d-md-block bg-dark text-light">
                <h5>Welcome to Xpedian</h5>
                <p>Welcome to book your trip at Xpedian</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="/img/hero-img/pexels-eneida-nieves-803975.jpg" class="d-block w-100" alt="second image">
            <div class="carousel-caption d-none d-md-block  bg-dark text-light">
                <h5>Featured trip</h5>
                <p>Greate package to enjoy wild life</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="/img/hero-img/pexels-asad-photo-maldives-1024960.jpg" class="d-block w-100" alt="third image">
            <div class="carousel-caption d-none d-md-block  bg-dark text-light">
                <h5>Honeymoon</h5>
                <p>Enjoy your honeymoon</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="/img/hero-img/pexels-riciardus-307008.jpg" class="d-block w-100" alt="fourth image">
            <div class="carousel-caption d-none d-md-block  bg-dark text-light">
                <h5>Higher Mountain</h5>
                <p>Higher, Faster, Stronger</p>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

{{!-- browse by property type section --}}
<section id="browse-property-section">
    <hr>
    <div class="text-center text-light h1">Browse by Property Type</div>
    <hr>

    <div class="container">
        <div class="property-card-container">
            {{#each propertyTypes}}
                <div class="card mx-2 my-2 property-card">
                    <img src={{this.image}} class="card-img-top" alt="...">
                    <div class="card-title h4 text-center property-card-caption">
                        {{this.property_type}}
                    </div>
                    <div class="card-subtitle">
                        <p class="text-center content-card-caption">{{this.numbers}} {{this.property_type}}s       </p>
                    </div>
                </div>
            {{/each}}
        </div>    
    </div>
</section>

{{!-- browse by location type section --}}
<section id="browse-location-section">
    <hr>
    <div class="text-center text-light h1">Browse by Location</div>
    <hr>

    <div class="container">
        <div class="location-card-container">
            {{#each locations}}
                <div class="card mx-2 my-2 location-card">
                    <img src={{this.image}} class="card-img-top" alt="...">
                    <div class="card-title h4 text-center location-card-caption">
                        {{this.location}}
                    </div>
                    <div class="card-subtitle">
                        <p class="text-center content-card-caption">{{this.numbers}} properties </p>
                    </div>
                </div>
            {{/each}}
        </div>    
    </div>
</section>


{{!-- content section --}}
<section id="content-section">
    <hr>
    <div class="text-center text-light h1">Discover Experience</div>
    <hr>

    <div class="container">
        <div class="content-card-container">
            {{#each contents}}
                <div class="card mx-3 ">
                    <img src={{this.image}} class="card-img-top" alt="...">
                    <div class="card-title h4 text-center content-card-caption">
                        {{this.title}}
                    </div>
                    <div class="card-subtitle">
                        <p class="text-center content-card-caption">{{this.sub_title}} </p>
                    </div>
                </div>
            {{/each}}
        </div>    
    </div>
</section>
