<section id="listing-details" class="mx-5">

    <div class="container details-header">
        <div class="row align-items-center">
            <div class="col-3">
                <div class="details-property-type h1 text-light bg-info text-center rounded pb-1 mt-3">
                    {{listing.property_type}}
                </div>
            </div>
            <div class="col-9">
                <div class="details-title h1 text-light mt-3">
                    {{listing.title}}
                    <p class="h5 mt-3">                    
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
  <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
                        </svg>  {{listing.location}}
                    </p>
                </div>
            </div>
        </div>
    </div>
    <hr>

    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <img src="{{listing.lg_image}}" alt="" class="details-large-pic">
            </div>
            <div class="col-lg-3">
                <div class="card mb-2">
                    <div class="card-body">
                        <h5 class="card-title">{{listing.property_type}}</h5>
                        <p class="card-text">
                            Bedroom: {{listing.details.bedroom}} <br>
                            Living Room: {{listing.details.living_room}} <br>
                            Bathroom: {{listing.details.bathroom}} <br>
                        </p>
                    </div>
                </div>
                <div class="card mb-2">
                    <div class="card-body">
                        <h5 class="card-title">Beds:</h5>
                        <p class="card-text">
                            Twin Bed: {{listing.details.beds.twin}} <br>
                            Full Bed: {{listing.details.beds.full}} <br>
                            King Bed: {{listing.details.beds.king}} <br>
                            Sofa Bed: {{listing.details.beds.sofa_bed}} <br>
                        </p>
                    </div>
                </div>
                <div class="card mb-2">
                    <div class="card-body">
                        <h5 class="card-title">Summary:</h5>
                        <p class="card-text">
                            {{listing.summary}}
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="details-pics-container">

            {{#each smImages}}
                <div class="details-pic">
                    <img src="{{this}}" alt="">
                </div>
            {{/each}}      
        </div>
    </div>

    <div class="d-grid gap-2 col-6 mx-auto mt-4">
        <a href="/" class="btn btn-lg btn-primary btn-block btn-outline-light" role="button">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-square" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm8.5 2.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z"/>
            </svg>
            BOOK IT NOW  ${{listing.price}}
        </a>
    </div>
</section>